body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: left;
}

a {
  color: #00B7FF;
}

.st1{
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table{
  width: 100%;
}

th, td {
  border-bottom: 1px solid black;
}

thead{
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}
